By Rahul kumar

github - https://github.com/Rahul5914

youtube - https://youtube.com/@biharwaleenginner?si=n-b4mPbcUZ35wt7P

linkedin - https://www.linkedin.com/in/rahul-kumar-3829b322a/

instagram - @therahul5914

Programming Languages used for Machine Learning:


1.  python - general purpose lang used in web dev and other cases also
2.  R langugage - mainly for statsical based. hence pythn pref over R

#print *function*

*   use " " / ' ' quote for strings only not var,int,float
*

In [ ]:
print('ML')

ML

In [ ]:
print('ML' + ' project')

ML project

In [ ]:
print(2)

2

In [ ]:
print(2*3)

6

In [ ]:
print(2+3)

5

#Basics data type

1.   int - no w/o dec. point
2.   float - decimals
3.   str- string mainly(text + sentences)


*   
*   type keywords tells what data type is it?

In [ ]:
type(4)

int

In [ ]:
type(2.84)

float

In [ ]:
type('rahul')

str

#Constants & Variables

In [ ]:
marvel_super_hero = "Iron Man"
print(marvel_super_hero)

Iron Man

In [ ]:
hero1 , hero2 , hero3 = "Iron Man" , "Captain America" , "Bat Man"
print(hero1)
print(hero2)
print(hero3)

Iron Man
Captain America
Bat Man

In [ ]:

marvel_super_hero = "Captain America"
print(marvel_super_hero)

Captain America

multilpe value to same variable

In [ ]:
x = y = z = 23
print(x)
print(y)
print(z)

23
23
23

#input Function


*   prev print funtion like in printf it's o/p command

*   i/p funtion like scanf in c it's i/p command take valu/ip from users

In [ ]:
number_1 = input("Enter the first number : ")
number_2 = input("Enter the second number : ")

sum = number_1 + number_2
print(sum)

Enter the first number : 4
Enter the second number : 5
45

i/p funtion assume /treat as string any valu inside function either int,float
so,covert sting to int

In [ ]:
number_1 = int(input("Enter the first number : "))
number_2 = int(input("Enter the second number : "))

sum = number_1 + number_2
print(sum)

Enter the first number : 5
Enter the second number : 5
10

#changing data types in python

In [ ]:
num = 5
print(float(num))

5.0